@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
  }
  h1 {
    @apply text-3xl;
    @apply tracking-tight;
  }
  h2 {
    @apply text-xl;
  }
  kbd {
    @apply rounded border border-neutral-300 bg-neutral-50 p-1;
  }
  a {
    @apply text-blue-600 hover:underline;
  }
  code {
    @apply rounded bg-neutral-100 px-2 py-1 text-sm;
  }

  .btn {
    @apply rounded border border-neutral-400 bg-white px-3 py-1;
    @apply hover:bg-neutral-50 active:bg-neutral-200;
    @apply focus-visible:outline-none focus-visible:ring-2;
    @apply transition-shadow;
  }

  input {
    @apply rounded border border-neutral-400 px-2 py-1;
    @apply focus:outline-none focus:ring-2;
    @apply transition-shadow;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Animations and such */
  .shake {
    animation: horizontal-shaking 0.25s;
  }

  @keyframes horizontal-shaking {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
